# Compiled Object files
*.slo
*.lo
*.o

# Compiled Python files
*.pyc

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/.project


# Visual studio project files
*.vcproj
*.vcxproj
*.vcproj.*
*.vcxproj.*
*.vcproj.*.*
*.vcxproj.*.*
*.sln
*.ncb
*.suo
*.obj
*.dep
*.manifest
*.manifest.*
BuildLog.htm
*.idb
*.pdb
*.lib
*.tlog
*.log
*.lastbuildstate
*.cache

# binaries
/bin

# build-generated CMake garbage
/CMakeFiles
*/CMakeFiles
*.cmake
CMakeCache.txt


# img results from debug testing
*.img
# but include the ones from any testing directory
#    these are for the unit tests.
!/tests/data/*.img
